<app-home></app-home>
<body>
  <div class="container">
    <div class="leftSide">
      <!-- Header -->
      <div class="header">
        <div class="userimg">
          <img src="../assets/img/user.jpg" alt="" class="cover" />
        </div>
        <ul class="nav_icons">
          <li><i class="fa-solid fa-camera"></i></li>
          <li><i class="fa-solid fa-message"></i></li>
          <li><i class="fa-solid fa-bars"></i></li>
        </ul>
      </div>
      <!-- Search Chat -->
      <div class="search-box">
        <div class="input-wrapper">
          <i class="fa-solid fa-magnifying-glass"></i>
        <input placeholder="Search here" type="text">
        </div>
      </div>
      <!-- CHAT LIST -->
      <div class="chatlist">
        <div class="block active">
          <div class="imgBox">
            <img src="../assets/img/img1.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 1</h4>
              <p class="time">10:56</p>
            </div>
            <div class="message_p">
              <p>How are you doing?</p>
            </div>
          </div>
        </div>

        <div class="block unread">
          <div class="imgBox">
            <img src="../assets/img/img2.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 2</h4>
              <p class="time">12:34</p>
            </div>
            <div class="message_p">
              <p>I love your youtube videos!</p>
              <b>1</b>
            </div>
          </div>
        </div>

        <div class="block unread">
          <div class="imgBox">
            <img src="../assets/img/img3.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 3</h4>
              <p class="time">Yesterday</p>
            </div>
            <div class="message_p">
              <p>I just subscribed to your channel</p>
              <b>2</b>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img4.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 4</h4>
              <p class="time">Yesterday</p>
            </div>
            <div class="message_p">
              <p>Hey!</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img7.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 5</h4>
              <p class="time">18/01/2022</p>
            </div>
            <div class="message_p">
              <p>I'll get back to you</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img8.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 6</h4>
              <p class="time">17/01/2022</p>
            </div>
            <div class="message_p">
              <p>Congratulations</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img9.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 7</h4>
              <p class="time">15/01/2022</p>
            </div>
            <div class="message_p">
              <p>Thanks alot</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img5.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 8</h4>
              <p class="time">Yesterday</p>
            </div>
            <div class="message_p">
              <p>Did you finish the project?</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img6.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 9</h4>
              <p class="time">18/01/2022</p>
            </div>
            <div class="message_p">
              <p>Nice course</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img7.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 10</h4>
              <p class="time">18/01/2022</p>
            </div>
            <div class="message_p">
              <p>I'll get back to you</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img8.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 11</h4>
              <p class="time">17/01/2022</p>
            </div>
            <div class="message_p">
              <p>Congratulations</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="imgBox">
            <img src="../assets/img/img9.jpg" class="cover" alt="" />
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Doctor 12</h4>
              <p class="time">15/01/2022</p>
            </div>
            <div class="message_p">
              <p>Thanks alot</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="rightSide"
      style="background-image: url('../assets/img/pattern2.jpg')"
    >
      <div class="header">
        <div class="imgText">
          <div class="userimg">
            <img src="../assets/img/img1.jpg" alt="" class="cover" />
          </div>
          <h5>User <br /><span>online</span></h5>
        </div>
        <ul class="nav_icons">
          <li><i class="fa-solid fa-video"></i></li>
          <li><i class="fa-solid fa-phone"></i></li>
          <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
        </ul>
      </div>

      <!-- CHAT-BOX -->
      <div class="chatbox">
        <div class="message my_msg">
          <p>Hi <br /><span>12:18</span></p>
        </div>
        <div class="message friend_msg">
          <p>Hey <br /><span>12:18</span></p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Eaque aliquid fugiat
            accusamus dolore qui vitae ratione optio sunt <br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>Lorem ipsum dolor sit amet consectetur <br /><span>12:15</span></p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message my_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
        <div class="message friend_msg">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br /><span
              >12:15</span
            >
          </p>
        </div>
      </div>

      <!-- CHAT INPUT -->
      <div class="chat_input">
        <i class="fa-regular fa-face-smile"></i>
        <!-- <ion-icon name="happy-outline"></ion-icon> -->
        <input type="text" placeholder="Type a message" />
        <i class="fa-regular fa-paper-plane"></i>
				<i class="fa-solid fa-microphone ms-4"></i>
      </div>
    </div>
  </div>
</body>
